Source: ros-humble-color-names
Section: misc
Priority: optional
Maintainer: masaya <ms.kataoka@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ouxt-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-rviz2, ros-humble-std-msgs, ros-humble-visualization-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-color-names
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rclcpp, ros-humble-rviz2, ros-humble-std-msgs, ros-humble-visualization-msgs, ros-humble-ros-workspace
Description: The color_names package
